version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: bus_ticket_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=bus_ticket_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: