name: CI/CD pipeline

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    server-ci:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./server
        
        services:
          postgres:
            image: postgres:15
            env:
              POSTGRES_USER: postgres
              POSTGRES_PASSWORD: '@BusTicket123'
              POSTGRES_DB: bus_ticket_dev
            ports:
              - 5432:5432
            options: --health-cmd "pg_isready" --health-interval 10s --health-timeout 5s --health-retries 5

        steps:
        - name: Checkout code
          uses: actions/checkout@v4
        
        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: 18

        - name: Install dependencies
          run: npm ci

        - name: Run Lint
          run: npm run lint
          
        - name: Wait for Postgres DB
          run: sleep 5
          shell: bash

        - name: Build DB Schema and Seed Admin
          env:
            DATABASE_URL: postgresql://postgres:%40BusTicket123@localhost:5432/bus_ticket_dev
          run: |
            psql $DATABASE_URL < ./src/models/init.sql
            
            ADMIN_PASSWORD_HASH='$2a$10$q09uS.X3z.c5N7j0K3D2I.X3fE7aB9dC0y1v5M2G0fB5z0K8e7l6' 
            
            psql $DATABASE_URL -c "INSERT INTO users (email, password_hash, full_name, role, is_verified) VALUES ('admin@vexere.com', '$ADMIN_PASSWORD_HASH', 'System Administrator', 'admin', TRUE) ON CONFLICT (email) DO NOTHING;"
            
            psql $DATABASE_URL -c "INSERT INTO users (email, password_hash, full_name, role, is_verified) VALUES ('user1@vexere.com', '$ADMIN_PASSWORD_HASH', 'Test User', 'user', TRUE) ON CONFLICT (email) DO NOTHING;"

        - name: Run Tests
          run: npm run test --if-present
          env:
            DATABASE_URL: postgresql://postgres:%40BusTicket123@localhost:5432/bus_ticket_dev
    
    client-ci:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./client 

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Node.js 18
          uses: actions/setup-node@v4
          with:
            node-version: 18

        - name: Install dependencies
          run: npm ci

        - name: Run Client Build Check
          run: npm run build